<nav class="navbar navbar-dark bg-primary flex-md-nowrap py-0 navbar-expand-lg shadow-sm">
    <a class="navbar-brand col-sm-3 col-md-2 mr-auto"
       routerLink="/">
        <h5 class="mb-0 font-weight-bold">
            {{companyName}}
        </h5>
    </a>
    <div class="navbar-nav my-lg-1">
        <div class="dropdown">
            <button 
                type="button"
                class="btn btn-primary dropdown-toggle  d-flex justify-content-center align-items-center">
                Opened<span *ngIf="isEmptyList()" class="badge badge-light">{{openTasks}}</span>
            </button>
            <div *ngIf="isEmptyList()" class="dropdown-menu">
                <ul class="list-group">
                    <li *ngFor="let task of tasks" class="list-group-item" (click)="navigateToTasks(task.courseId)">
                        <span class="mr-3">{{task.name}} {{task.courseId}}</span>
                        <app-timer
                                (start)="startTimer(task.id)"
                                (pause)="pauseTimer(task.id)"
                                [showButtons]="false"
                                [seconds]="task.count"
                        class="bg-warning">
                        </app-timer>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav-item dropdown">
            <a href="#"
               class="nav-link  active d-flex justify-content-center align-items-center">
                {{userName}}
              <i class="material-icons mr-1">account_circle</i>
            </a>
        </div>
        <button type="button"
                class="btn btn-primary"
                (click)="logout()">
            LogOut
        </button>
    </div>
</nav>