.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.125) !important;
}

.dropdown-toggle:focus {
  pointer-events: none;
}
.dropdown-toggle:focus + .dropdown-menu{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.dropdown-menu {
  opacity: 0;
  display: block;
  visibility: hidden;
  transition: visibility 0.5s;
}
