<div style="position: absolute; top: 0; right: 0;"
     class="mt-5 mr-2">
  <div *ngIf="message"
       class="toast fade show">
    <div class="toast-body"
         [ngClass]="getClassByNotificationType(message.type)">
      {{message.message}}
      <button
        type="button"
        class="ml-2 mb-1 close"
        (click)="clearMessage(message)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
