<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Rating</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of rateList" >
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.Tasks[0].timeOfWork * 1000 | date: 'H:mm:ss': 'UTC'}}</td>
    </tr>
    </tbody>
</table>
