<button
  *ngIf="showButtons"
  (click)="startCount($event)"
  class="btn btn-primary btn-sm btn-success mr-3">
  <i class="fas fa-caret-square-right"></i>
</button>
<button
  *ngIf="showButtons"
  (click)="pauseCount($event)"
  class="btn btn-warning btn-sm mr-3">
  <i class="far fa-pause-circle"></i>
</button>
<button
  *ngIf="showButtons"
  (click)="stopCount($event)"
  class="btn btn-sm btn-danger mr-3">
  <i class="fas fa-check"></i>
</button>
<span>{{seconds * 1000 | date: 'H:mm:ss': 'UTC'}}</span>
