<div class="container-fluid h-100 d-flex flex-column justify-content-center">
  <form class="form-signin"
        #loginForm="ngForm"
        novalidate
        (submit)="loginForm.form.valid ? login() : null">
    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email"
             #email="ngModel"
             id="email"
             name="email"
             class="form-control"
             placeholder="Email address"
             autocomplete="email"
             required
             email
             [class.is-invalid]="(email.touched || email.dirty) && email.invalid"
             [class.is-valid]="(email.touched || email.dirty) && email.valid"
             [(ngModel)]="credential.email">
      <div class="invalid-feedback">
        <div *ngIf="email.getError('required')">Email is required</div>
        <div *ngIf="email.getError('email')">Must be a valid email</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password"
             #password="ngModel"
             id="password"
             name="password"
             class="form-control"
             placeholder="Password"
             autocomplete="current-password"
             required
             pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{6,}$"
             [class.is-invalid]="(password.touched || password.dirty) && password.invalid"
             [class.is-valid]="(password.touched || password.dirty) && password.valid"
             [(ngModel)]="credential.password">
      <div class="invalid-feedback">
        <div *ngIf="password.getError('required')">Password is required</div>
        <div *ngIf="password.getError('pattern')">Must contain at least one digit, one char in lowercase, one char in uppercase and one special char</div>
      </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block"
            type="submit"
            [disabled]="loginForm.invalid"
            (click)="loginForm.form.markAsTouched()">Sign in
    </button>
  </form>
</div>
