<div class="row p-5 w-100">
    <div *ngFor="let course of coursesList; let i = index" class="col-sm-4 align-content-around flex-wrap mb-4">
        <div class="h-100 card">
            <div class="card-body">
                <h5 class="card-title">{{course.name}}</h5>
                <p class="card-text">{{course.description}}</p>
<!--                <div class="card-footer">-->
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                             aria-valuemax="100" [style.width]="closedTasks[i]/theWholetasksNumber[i]*100 + '%'">
                            <span class="sr-only">40% Complete</span>
                        </div>
                    </div>
                    <span>Closed tasks: {{closedTasks[i]}}/{{theWholetasksNumber[i]}}</span>
                    <button class="m-3  btn btn-primary" (click)="navigateToTasks(course.id)">Go to the Challenges</button>
<!--                </div>-->
            </div>
        </div>
    </div>
</div>
