.active {
  cursor: pointer;
}

.task {
  margin-top: 5px;
  margin-bottom: 5px;
}

button {
  margin-right: 10px;
}

.collapsible {
  background-color: lightskyblue;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  border-radius: 5px;
  text-align: left;
  outline: none;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}


.active, .collapsible:hover {
  background-color: lightblue;

}

.content {
  padding: 0 18px;
  overflow: hidden;
  background-color: #f1f1f1;
}

.content:hover {

}

.position {
  margin-top: 10px;
}
