<div *ngFor="let task of tasksList;let i = index" class="card w-75 mx-auto m-4">
    <div class="collapsible" (click)="toggle(i)">{{task.name}}
        <app-timer
                (start)="startTimer(task.id)"
                (pause)="pauseTimer(task.id)"
                (stop)="stopTimer(task.id)"
                [showButtons]="!task.isClosed"
                [seconds]="task.count">
        </app-timer>
    </div>
    <div *ngIf="task.collapse" class="content">
        <div [innerHTML]="task.description"></div>
        <div *ngIf="task.isClosed">Estimated Time: {{task.estimatedTime * 1000 | date: 'H:mm:ss': 'UTC'}}</div>
    </div>
</div>
<div *ngIf="ratingList" class='w-75 mx-auto mt-5'>
    <div *ngIf="ratingList.length">
        <h2 class="display-4 text-center">Rating</h2>
        <app-rating-table [rateList]=ratingList></app-rating-table>
    </div>
</div>

