@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

.nav-link {
  font-weight: 500;
  color: #999;
  padding: 10px 30px 10px 20px;
  cursor: pointer;
}

.nav-link:hover {
  background-color: #454a50;
  transition: background-color 150ms ease;
  color: #ffffff;
}

.nav-link.active {
  background-color: #3b84f8;
  transition: background-color 150ms ease;
  color: #ffffff;
}
