$theme-colors: (
  primary: #3b84f8,
  danger: #d14354,
  warning: #fcb400,
  light: #f5f7f9,
);
$material-icons-font-path: '../node_modules/material-icons/iconfont/';
$FontPathOpenSans: '../node_modules/npm-font-open-sans/fonts/';
$light-gray: #e9ecef;
