@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/material-icons/iconfont/material-icons.scss';
@import '../node_modules/npm-font-open-sans/open-sans.scss';

html, body {
  font-family: 'Open Sans', sans-serif;
  background-color: map-get($theme-colors, 'light');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-sm {
  font-size: 0.875rem !important;
}

.text-xs {
  font-size: 0.725rem !important;
}

.dropdown-menu {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(230, 236, 241);
  box-shadow: rgba(116, 129, 141, 0.1) 0 3px 8px 0;
}

.dropdown-item:hover {
  cursor: pointer;
  background-color: map-get($theme-colors, 'light');
  transition: background-color 150ms ease;
}
