<div class="main-container d-flex flex-column pt-5">
    <div class="d-flex justify-content-center center">
        <a [routerLink]="['/portal']"><i class="fas fa-angle-double-left"></i></a>
        <h1 class="display-4">
            Challenges:
        </h1>
    </div>
    <router-outlet></router-outlet>
</div>
